<ion-view view-title="Contact Us">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        Location Information
      </div>

      <div class="row">
        <div class="col col-offset-8">
          <h4>Our Address</h4>
          <ul class="list">
            <li>
              <p>121, Clear Water Bay Road
                <br> Clear Water Bay, Kowloon
                <br> HONG KONG
                <br>
                <i class="icon ion-ios-telephone"></i>: +852 1234 5678
                <br>
                <i class="ion-android-print"></i>: +852 8765 4321
                <br>
                <i class="ion-email"></i><a href=""> :confusion@food.net</a></p>
              <div class="button-bar">
                <button class="button button-positive">
                  <i class="icon ion-ios-telephone"></i> Call
                </button>
                <button class="button button-calm">
                  <i class="ion-social-skype"></i> Skype
                </button>
                <button class="button button-balanced">
                  <i class="ion-email"></i> Email
                </button>
              </div>



              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
